.header
{
    background-image: url(./images/backgound.png);
    background-repeat: no-repeat;
    width: 100%;
    max-height: 900px;
    background-size: cover;
    padding-block: 70px 38px;
    margin-bottom: var(--margin-bottom);
    color: var(--white-color);
    text-align: center;
    &__inside
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo-link
    {
        margin-bottom: 140px;
    }
    h2 
    {
        margin-bottom: 50px;
    }
    .link
    {
        margin-bottom: 254px;
    }
    p
    {
        font-size: var(--font-18px);
    }
}