.section__two
{
    padding-block: var(--padding-top) var(--padding-bottom);
    &-inside
    {
        .button-inside
        {
            width: 143px;
        }

        h2 
        {
            text-align: center;
            margin-bottom: 15px;
        }
        h3 
        {
            text-align: center;
            margin-bottom: 40px;
        }
        &-group
        {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            div 
            {
                P
                {
                    &:first-child
                    {
                        text-transform: uppercase;
                        word-spacing: 2px;
                    }
                    &:not(:first-child)
                    {
                        color: var(--white-color-two);
                    }
                }
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                padding-inline: 30px 45px;
                padding-bottom: 30px;
                height: 600px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 15px;
                &:nth-child(1)
                {
                    background-image: url(./images/workplace.png);
                }
                &:nth-child(2)
                {
                    background-image: url(./images/abstraction.png);
                }
                &:nth-child(3)
                {
                    background-image: url(./images/Vegetation.png);
                }
                &:nth-child(4)
                {
                    background-image: url(./images/deer.png);
                }
            }
        }
    }
}