*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container
{
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}
.g-flex
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sub-container
{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
body
{
    font-family: 'Inter_Regular';
	font-size: 16px;
	line-height: 24px;
	color: #7C7C85;
	cursor: default;
	scroll-behavior: smooth;
}
h1 
{
    font-family: 'Inter_ExtraBold';
	font-size: 72px;
	line-height: 79px;
	text-align: center;
	max-width: 916px;
	color: #1D1D28;
	margin-bottom: 40px;
}
h2 
{
    font-family: 'Inter_SemiBold';
	font-size: 42px;
	line-height: 50px;
}
h3	
{
    font-family: 'Inter_Regular';
	font-size: 28px;
	color: #323240;
	line-height: 36px;
}
a  
{
	color: #323240B8;
	text-decoration: none;
	cursor: pointer;
}
input
{
    font-family: 'Inter_Regular';
	font-size: 20px;
	line-height: 30px;
	text-align: left;
}
button
{
	cursor: pointer;
}