@font-face {
    font-family: 'Jost_Regular';
    src: url('fonts/Jost-Regular/Jost-Regular.eot');
    src: url('fonts/Jost-Regular/Jost-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Jost-Regular/Jost-Regular.woff2') format('woff2'),
    url('fonts/Jost-Regular/Jost-Regular.woff') format('woff'),
    url('fonts/Jost-Regular/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost_SemiBold';
    src: url('fonts/Jost-SemiBold/Jost-SemiBold.eot');
    src: url('fonts/Jost-SemiBold/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Jost-SemiBold/Jost-SemiBold.woff2') format('woff2'),
    url('fonts/Jost-SemiBold/Jost-SemiBold.woff') format('woff'),
    url('fonts/Jost-SemiBold/Jost-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost_Bold';
    src: url('fonts/Jost-Bold/Jost-Bold.eot');
    src: url('fonts/Jost-Bold/Jost-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Jost-Bold/Jost-Bold.woff2') format('woff2'),
    url('fonts/Jost-Bold/Jost-Bold.woff') format('woff'),
    url('fonts/Jost-Bold/Jost-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

